<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GameVoiceControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="GameVoiceControl.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <GameVoiceControl.Properties.Settings>
            <setting name="MouseClickSpeed" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="KeyPressSpeed" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="AutoJumpSpeed" serializeAs="String">
                <value>700</value>
            </setting>
            <setting name="AutoDodgeSpeed" serializeAs="String">
                <value>1800</value>
            </setting>
            <setting name="WordConfidenceAdjust" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoFireSpeed" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="AutoBuildSpeed" serializeAs="String">
                <value>170</value>
            </setting>
            <setting name="TopMost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WordConfidenceAdjustMin" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="WordConfidenceAdjustMax" serializeAs="String">
                <value>9.8</value>
            </setting>
        </GameVoiceControl.Properties.Settings>
    </applicationSettings>
</configuration>